@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white-alpha-700: 255,255,255;
  }
}

html,
body,
:root {
  background-color: #F5F8FA;
  color-scheme: ligth;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}
